@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500;600;700&display=swap%22");

:root {
    --main-color: #1f4590;
    --second-color: #ffa451;
    --body-color: #fff;

    --main-font: "Open Sans", sans-serif;
    --heading-font: "Raleway", sans-serif;
}

body {
    background: rgb(255, 255, 255);
    margin: 50;
    font-family: var(--main-font);
}

.wrap {
    width: 95%;
    margin: 25px auto;
}

.sidebar {
    float: right;
    width: 28%;
}

.checked {
    color: orange;
}

.sidebar .widget {
    padding: 20px;
    margin: 0 0 2px;
    background: rgb(255, 255, 255);
    border: 1px solid #dedede;
    box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
    margin-top: 30px;
    border-radius: 10px;
}

.sidebar .widget p {
    font-size: 14px;
}

.sidebar .widget p:last-child {
    margin: 0;
}

.blog {
    float: left;
}

.conteudo {
    width: 850px;
    padding: 10px;
    margin: 25px auto;
    background: #fff;
}

.conteudo img {
    min-width: 850px;
    margin: 0 0 25px -25px;
    max-width: 850px;
}

.conteudo h1 {
    padding: 0;
    margin: 0 0 15px;
    font-weight: normal;
    color: rgb(216, 104, 0);
    font-family: Georgia;
}

.conteudo p:last-child {
    margin: 0;
}

.conteudo .continue-lendo {
    color: #000;
    transition: all 0.5s ease;
    text-decoration: none;
    font-weight: 700;
}

.conteudo .continue-lendo:hover {
    margin-left: 10px;
}

.post-info {
    float: right;
    font-size: 12px;
    margin: -10px 0 15px;
    text-transform: uppercase;
}

@media screen and (max-width: 960px) {
    .header {
        position: inherit;
    }
    .wrap {
        width: 110%;
        margin: 25px auto;
    }
    .sidebar {
        width: 100%;
        margin: 25px 0 0;
        float: right;
        padding-right: 60px;
        padding-left: 10px;
    }
    .sidebar .widget {
        padding: 5%;
    }
    .blog {
        width: 90%;
    }
    .conteudo {
        float: inherit;
        margin: 0 auto 25px;
        width: 101%;
        background: #fff;
    }
    .conteudo img {
        max-width: 110%;
        margin: 0 0 25px -5%;
        min-width: 110%;
    }
    .conteudo .continue-lendo:hover {
        margin-left: 0;
    }
}

#frame-image {
    /* 
    CSS Untuk croping gambar / foto 

    Disini Anda dapat menentukan lebar dan tinggi image
    */
    width: 100%;
    max-width: 850px;
    max-height: 650px;
    height: auto;
    overflow: hidden;

    /* 
    CSS Untuk mengatur posisi gambar 
    Menjadikan frame / bingkai sebagai patokan koordinat left/top
    */
    position: relative;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media screen and (max-width: 460px) {
    .sidebar {
        display: none;
    }
    .post-info {
        display: none;
    }
    .conteudo {
        margin: 25px auto;
    }
    .conteudo img {
        margin: -5% 0 25px -5%;
    }
}

* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading h1 {
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    width: 20px;
    box-shadow: 2px 2px 30px rgba(126, 125, 125, 0.1);
    background-color: #ffffff;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media (max-width: 1060px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }
}

@media (max-width: 790px) {
    .testimonial-box {
        width: 100%;
    }
    .testimonial-heading h1 {
        font-size: 1.4rem;
    }
}

@media (max-width: 340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews {
        margin-top: 10px;
    }
}

::-moz-selection {
    color: #ffffff;
    background-color: #252525;
}

::selection {
    color: #ffffff;
    background-color: #252525;
}

.container {
    border: 2px solid rgb(240, 239, 239);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}

.container span {
    color: #000000;
    font-size: 20px;
    margin-right: 80px;
}

@media (max-width: 500px) {
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
}

.navbar .nav-wrapper {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
.nav-wrapper .menu-toggle {
    display: none;
}
.nav-wrapper .logo {
    font-size: 2.8rem;
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--main-color);
}
.nav-wrapper .logo span {
    font-size: 1.8rem;
    color: var(--second-color);
}
.nav-wrapper .menu-wrapper {
    display: flex;
    gap: 50px;
}
.nav-wrapper .menu-wrapper .menu {
    display: flex;
    align-items: center;
    gap: 70px;
}
.menu-wrapper .menu .menu-link {
    font-size: 1.25rem;
    color: var(--main-color);
    font-family: var(--heading-font);
    font-weight: 500;
}
.menu-wrapper .menu .menu-link.active {
    font-weight: 700;
    color: var(--second-color);
}
.menu-wrapper .btn-member {
    font-family: var(--heading-font);
    color: #fff;
    font-weight: 600;
    background-color: var(--second-color);
    padding: 25px 30px;
    border-radius: 50px;
}

:root {
    --main-color: #1f4590;
    --second-color: #ffa451;
    --body-color: #fff;

    --main-font: "Open Sans", sans-serif;
    --heading-font: "Raleway", sans-serif;
}

body {
    background-color: var(--body-color);
    font-family: var(--main-font);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

section {
    margin-top: 200px;
}

.container {
    max-width: 1500px;
}

body {
    margin-top: 20px;
}

.container {
    max-width: 1500px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-family: var(--heading-font);
    font-weight: 500;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--body-color);
    color: #fff;
}

.navbar .logo {
    font-size: 2.8rem;
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--main-color);
}

.navbar .logo span {
    font-size: 2.8rem;
    color: var(--second-color);
}

.nav-links a {
    color: #5c5c5c;
}

.nav-links .logout {
    font-family: var(--main-font);
    color: #fff;
    font-weight: 400;
    background-color: var(--second-color);
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
}

.nav-links a:hover {
    color: #525151;
}

/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 50px;
    font-size: 18px;
}

.menu li:hover {
    /* background-color: var(--main-color); */
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}
